.board {
    width: 400px;
    margin: auto
}

.info {
    width: 400px;
    margin: auto;
    visibility: hidden;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
}
.container_modal{
 position: absolute;
 top: 0;
 left: 0;
 width:100vw;
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgba(58, 56, 58, 0.7);
 z-index: 1;
 visibility: hidden;
}
.modal_content{
width: 150px;
height: auto;
padding: 10px;
border-radius: 10px;
text-align: center;
background-color: white;

}
.modal_content h2{
    font-size: 15px;
    font-weight: 300;
}
.modal_content img{
    width: 100px;
}
.modal_content .close{
    margin-left: 86%;
}
.close{
    width: 25px;
    line-height: 25px;
    height: 25px;
    border-radius: 20px;
    background-color: black;
    cursor:pointer;
}
.close p{
    color: white;
}
.close:hover{
background-color: gray;
}
/*estilos para el buton de pista y de reinicio*/
#bReiniciar{
 background-color: white;
 margin-top: 20px;
 width: 110px;
 height: 50px;
 font-size: 20px;
}
#bpista{
background-color: white;
width: 110px;
height: 50px;
font-size: 20px;   
}
.butones{
    margin: auto;
    width: 400px;
}
/*hacer invisible*/
#historial{
visibility: hidden
}